/* Edit post */
#post-preview {
  height: 420px;
  overflow-y: scroll;
  background: #EBEBEB;

  .inner {
    padding: 5px;
  }
}

form .clear {
  clear: both;
}

.new-link {
  padding: 5px 0 5px 0;
}

#uploader {
  border: 3px #ebebeb dashed;

  .inner {
    padding: 20px;
  }
}

#uploader:hover {
  background-color: #ebebeb;
}

.form-box {
  margin-top: 15px;
}
