<!DOCTYPE html>
<html>
<head>
  <title>CrowdblogCore</title>
  <%= stylesheet_link_tag    "crowdblog_core/application", :media => "all" %>
  <%= javascript_include_tag "crowdblog_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
